.container {
		background-color:green;
}
.container-fluid {
		background-color:aqua;
}
.col-md-3, 
.col-lg-6, 
.col-sm-4,
.col-xs-4 {
		border:1px solid black;
		/* height:100px; */
}

.card,
.card-header,
.card-footer {
		/*background-color:lightblue;*/
}

/*
The @media rule is used to define different style rules for different media types/devices.
In CSS2 this was called media types, while in CSS3 it is called media queries.
Media queries look at the capability of the device, and can be used to check many things, such as:
	width and height of the viewport
	width and height of the device
	orientation (is the tablet/phone in landscape or portrait mode?)
	resolution
	and much more
*/
@media(max-width:34em) {
	.navbar .navbar-nav>.nav-item {
		float:none;
		margin-left: .1rem;
	}
	.navbar .navbar-nav {
		float:none !important;
	}
	.navbar .collapse.in, 
	.navbar .collapsing {
		clear: both;
	}
}